[{:block/name "#blue",
  :block/created-at 1761988633922,
  :block/updated-at 1761988633922}
 {:block/name "#green",
  :block/created-at 1761988634155,
  :block/updated-at 1761988634155}
 {:block/name "#red",
  :block/created-at 1762849540087,
  :block/updated-at 1762849540087}
 {:block/name "1a7b4982-1f39-4e9b-ad55-758efd31430d",
  :block/created-at 1761988563882,
  :block/updated-at 1761988563882}
 {:block/name "531c91a5-629f-407a-a5ce-899fd2af5dd8",
  :block/created-at 1761988604382,
  :block/updated-at 1761988604382}
 {:block/name
  "@3d-mem: 3d scene memory for embodied exploration and reasoning",
  :block/created-at 1762849540691,
  :block/updated-at 1762849540691}
 {:block/name
  "@a survey of large language model-powered spatial intelligence across scales: advances in embodied agents, smart cities, and earth science",
  :block/created-at 1762849540686,
  :block/updated-at 1762849540686}
 {:block/name
  "@aligning cyber space with physical world: a comprehensive survey on embodied ai",
  :block/created-at 1762849540686,
  :block/updated-at 1762849540686}
 {:block/name
  "@from reactive to cognitive: brain-inspired spatial intelligence for embodied agents",
  :block/created-at 1762845729874,
  :block/updated-at 1762848925028}
 {:block/name
  "@mind meets space: rethinking agentic spatial intelligence from a neuroscience-inspired perspective",
  :block/created-at 1762849540689,
  :block/updated-at 1762849540689}
 {:block/name
  "@move to understand a 3d scene: bridging visual grounding and exploration for efficient and versatile embodied navigation",
  :block/created-at 1762849397750,
  :block/updated-at 1762849492178}
 {:block/name
  "@multimodal spatial reasoning in the large model era: a survey and benchmarks",
  :block/created-at 1762849456997,
  :block/updated-at 1762849456997}
 {:block/name
  "@neural brain: a neuroscience-inspired framework for embodied agents",
  :block/created-at 1762849540689,
  :block/updated-at 1762849540689}
 {:block/name
  "@omninav: a unified framework for prospective exploration and visual-language navigation",
  :block/created-at 1762849540691,
  :block/updated-at 1762849540691}
 {:block/name
  "@open-world drone active tracking with goal-centered rewards",
  :block/created-at 1761830454421,
  :block/updated-at 1761988743012}
 {:block/name
  "@openfrontier: general navigation with visual-language grounded frontiers",
  :block/created-at 1762849540691,
  :block/updated-at 1762849540691}
 {:block/name
  "@robomemory: a brain-inspired multi-memory agentic framework for interactive environmental learning in physical embodied systems",
  :block/created-at 1762849540689,
  :block/updated-at 1762849540689}
 {:block/name "@vggt: visual geometry grounded transformer",
  :block/created-at 1760450908800,
  :block/updated-at 1760455027672}
 {:block/name "a",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "abstract",
  :block/created-at 1761988633915,
  :block/updated-at 1761988633915}
 {:block/name "attachments",
  :block/created-at 1761988633918,
  :block/updated-at 1761988633918}
 {:block/name "aug 24th, 2025",
  :block/created-at 1762848994546,
  :block/updated-at 1762849013633}
 {:block/name "authors",
  :block/created-at 1762849472163,
  :block/updated-at 1762849472163}
 {:block/name "awesome spatial intelligence",
  :block/created-at 1762849374683,
  :block/updated-at 1762849654904}
 {:block/name "b",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "baoxiong jia",
  :block/created-at 1762849472157,
  :block/updated-at 1762849472157}
 {:block/name "blogs",
  :block/created-at 1763083484809,
  :block/updated-at 1763083484809}
 {:block/name "c",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "c8c0c653-8b6f-44c6-b9bf-0a90b222b260",
  :block/created-at 1761988492119,
  :block/updated-at 1761988492119}
 {:block/name "canceled",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "cancelled",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "card",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "contents",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "date",
  :block/created-at 1762849472162,
  :block/updated-at 1762849472162}
 {:block/name "doing",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "done",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "favorites",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "hrz",
  :block/created-at 1762849087084,
  :block/updated-at 1762849087084}
 {:block/name "in-progress",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "item-type",
  :block/created-at 1762849472161,
  :block/updated-at 1762849472161}
 {:block/name "jul 30th, 2025",
  :block/created-at 1762849472150,
  :block/updated-at 1762849472150}
 {:block/name "later",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "links",
  :block/created-at 1762849472163,
  :block/updated-at 1762849472163}
 {:block/name "notes",
  :block/created-at 1761988633918,
  :block/updated-at 1761988633918}
 {:block/name "nov 10th, 2025",
  :block/created-at 1762849348301,
  :block/updated-at 1762849374684}
 {:block/name "nov 11th, 2025",
  :block/created-at 1762845713854,
  :block/updated-at 1762849145596}
 {:block/name "nov 14th, 2025",
  :block/created-at 1763083441367,
  :block/updated-at 1763093723216}
 {:block/name "now",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "oct 29th, 2025",
  :block/created-at 1762849078436,
  :block/updated-at 1762849087084}
 {:block/name "preprint",
  :block/created-at 1762849472150,
  :block/updated-at 1762849472150}
 {:block/name "prompts",
  :block/created-at 1763083672162,
  :block/updated-at 1763083672162}
 {:block/name "qian yu",
  :block/created-at 1762849472159,
  :block/updated-at 1762849472159}
 {:block/name "qing li",
  :block/created-at 1762849472153,
  :block/updated-at 1762849472153}
 {:block/name "siyuan huang",
  :block/created-at 1762849472156,
  :block/updated-at 1762849472156}
 {:block/name "spatial-intelligence",
  :block/created-at 1763083531159,
  :block/updated-at 1763083531159}
 {:block/name "tl;dr",
  :block/created-at 1761987918763,
  :block/updated-at 1761987918763}
 {:block/name "todo",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "unread",
  :block/created-at 1762849472151,
  :block/updated-at 1762849472151}
 {:block/name "wait",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "waiting",
  :block/created-at 1760450624143,
  :block/updated-at 1760450624143}
 {:block/name "wei liang",
  :block/created-at 1762849472151,
  :block/updated-at 1762849472151}
 {:block/name "xiaojian ma",
  :block/created-at 1762849472158,
  :block/updated-at 1762849472158}
 {:block/name "xilin wang",
  :block/created-at 1762849472159,
  :block/updated-at 1762849472159}
 {:block/name "yixin chen",
  :block/created-at 1762849472154,
  :block/updated-at 1762849472154}
 {:block/name "yixuan li",
  :block/created-at 1762849472152,
  :block/updated-at 1762849472152}
 {:block/name "zhidong deng",
  :block/created-at 1762849472160,
  :block/updated-at 1762849472160}
 {:block/name "zhuofan zhang",
  :block/created-at 1762849472156,
  :block/updated-at 1762849472156}
 {:block/name "ziyu zhu",
  :block/created-at 1762849472155,
  :block/updated-at 1762849472155}
 {:block/name "开源",
  :block/created-at 1762848949516,
  :block/updated-at 1762848949516}
 {:block/name "组会",
  :block/created-at 1762849013633, 
  :block/updated-at 1762849013633}]
